@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

body{
    font-family: 'Playwrite GB S', cursive;
    clip-path: circle(5% at top left);
    transition-property: clip-path;
    transition-duration: 5s;
}
body:hover{
    clip-path: circle(200% at top left);
}
.mensaje{
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}
.mensaje p {
    font-size: 1rem;
    position: absolute;
    top: 62%;
    left: 30%;
    transform: translate(-30%, -29%);
    clip-path: circle(5% at top left);
    transition-property: clip-path;
    transition-duration: 5s;
}
.boton1, .mensaje p:hover{
    clip-path: circle(200% at top left);
}

.boton1{
    clip-path: circle(5% at top left);
    transition-property: clip-path;
    transition-duration: 5s;
}
.boton1 :hover{
    clip-path: circle(200% at top left);
}
